body {
font-family: Helvetica;
}

/*.cssanimations table, .csstransforms table, .csstransforms3d table, .csstransitionstable {}*/
table {
  display: none;
}

figure {
  position: relative;
  width:300px;
  overflow-y:hidden;
}

figure ul li {
  border-top: 1px solid rgba(0,0,0,0.3);
  list-style-type: none;
  padding: 8px 0px;
}

figure ul li:last-child {
  border-bottom:  1px solid gray;
}

figure ul li span {
  position: relative;
  left: -25px;
  top: -15px;
}

@-webkit-keyframes rise {
  0% { bottom:-100px;}
  100% { bottom:17px;}

}

section[id*="data"] {
  position:absolute;
  bottom: 17px;	
  margin-top:200px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-animation:rise .8s forwards;

  width: 20px;
  height:0px;
}

#data1 {  
  height: 60px;
  left: 60px;
}

#data2 {
  height: 15px;	
  left: 90px;
  -webkit-animation-delay:.2s;  
}

#data3 {
/*  height: 80px;*/
  left: 120px;
  -webkit-animation-delay:.3s;
}

#data4 {
  left: 150px;
  -webkit-animation-delay:.4s;  
}

#data5 {
  left: 180px;
  -webkit-animation-delay:.5s;  
}

#data6 {
  left: 220px;
  -webkit-animation-delay:.6s;    
}

.blue {
  background-color: rgb(0,0,200);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(1, rgb(0,120,240)),
    color-stop(0.08, rgb(120,194,225))
    );
  
}

.blue:hover, .pink:hover {
  -webkit-box-shadow:  0px 0px 10px gray;
  box-shadow:  0px 0px 10px gray;
}
.pink {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(1, rgb(240,120,240)),
      color-stop(0.08, rgb(255,194,225))
      );
}

/* -- data detail --*/
#detail { 
  position: absolute;
  top:20px;
  left: 400px;
  width: 300px;
}

#roller {
  width:200px;
  height:24px;
  border-radius:10px;
  background-color:beige;
}

#spinner { 
  height:20px;
  width:20px;
  border-radius:10px;
  border:1px solid black;
  -webkit-animation: spin 1s forwards .2s;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateZ(0deg);}
  100% { -webkit-transform: rotateZ(780deg);}
}

@-webkit-keyframes reverse {
  0% { }
  100% { -webkit-transform: rotateZ(-780deg);}
}

#paper {
  margin-left:10px;
  width: 180px;
  height:20px;
  border-bottom-right-radius: 100px 30px;
  background-color:beige;
}

@-webkit-keyframes paperdown {
  0% { height:20px;}
  100% { height:220px;}
}

/* run this animation when the user clicks on the string */
@-webkit-keyframes paperup {
  0% { height:220px;}
  10% { height:240px;}
  20% { height:240px;}
  30% { height:220px;}
  100% { height: 20px; }
}

#string {
  width:1px;
  height: 20px;
  background-color:black;
  margin-left:100px;
  -webkit-perspective:700px;
}

#ring {
  position:relative;
  bottom:-20px;
  left:-10px;
  width:16px;
  height:16px;
  border-radius:10px;
  border:3px solid black;
  -webkit-transform: rotateY(38deg);
  
}
/* -- inlay -- */

.inlay {
  width: 300px;
  border: 2px solid gray;
  border-radius: 5px;	
  padding: 5px;
}
