body {
  background-color:rgb(44, 44, 44);	
}

#dandelion {
  position:absolute;
  width:100%;
  height:600px;
  overflow:hidden;
  border-bottom:5px solid white;
  border-bottom:5px solid rgba(255,255,255,0.3);
}

@-webkit-keyframes stemBlow {
  0%{}
  7% { 
    -webkit-transform: rotate(18deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
  }
  35% {
    -webkit-transform: rotate(2deg);
  }
  45% { 
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
#stem {
  width: 10px;
  height: 352px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.7);
  position:absolute;
  bottom:0;
  left:205px;
  
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: stemBlow 6s forwards ease-in;
}

#seedhead {
  width: 20px;
  position:absolute;
  left:-5px;
  bottom:350px;
  height:20px;
  border-radius:10px;
  background-color: white;
}

@-webkit-keyframes blowRight {
  0% {  } 
  7% {  left:290px; }
  100% { left:1600px; }
}

div[id^="quadrant"] {
  position:absolute;
  bottom: 339px;
  left: 171px;
  -webkit-transform-origin:100% 100%;
  width:120px;
  height:120px;
  -webkit-animation: blowRight 6s forwards ease-in;  
}

@-webkit-keyframes blowRightQuad2 {
  0% {  } 
  7% {  left:190px; }
  100% { left:1600px; }
}

#quadrant2 {
  -webkit-transform: rotateZ(89deg);
  left: 78px;
  bottom: 280px;
 -webkit-animation: blowRightQuad2 6s forwards ease-in;  
  
}
#quadrant3 {
  -webkit-transform: rotateX(180deg);
  bottom: 378px;
  left: 171px;
}

@-webkit-keyframes blowRightQuad4 {
  0% {  } 
  7% {  left:140px; }
  100% { left:1600px; }
}

#quadrant4 {
  -webkit-transform: rotateZ(180deg);
  bottom: 382px;
  left: 10px;
  -webkit-animation: blowRightQuad4 6s forwards ease-in;  
}
#quadrant5 {
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: rotateY(40deg) scale3d(.8,.8,.8);
  bottom: 32;
  left: 137px;
}

.seed {
  -webkit-transform-origin: 35px 98px;
  background-image:url('../img/DandelionSeed.png');
  width:100px;
  height:100px;
  position:absolute; 
}

/* use .quad class selector here instead of an 
id selector so every quadrant can reuse this positioning; then the 
quandrent itself just adjusts the rotation for all 4 seeds inside it */
.quad div:nth-of-type(1) {
  -webkit-transform:rotateZ(-20deg) translate3d(5px,-5px,0);
  -webkit-animation: seedChange1 6s;
}
.quad div:nth-of-type(2) {
  -webkit-transform:rotateZ(-30deg);
  -webkit-animation: seedChange2 6s;
}
.quad div:nth-of-type(3) {
  -webkit-transform:rotateZ(-76deg) translate3d(-5px,0,0);
  -webkit-animation: seedChange3 6s;
}
.quad div:nth-of-type(4) {
  -webkit-transform:rotateZ(-50deg);
  -webkit-animation: seedChange4 6s;
}
.quad div:nth-of-type(5) {
    -webkit-animation: seedChange5 6s;
    -webkit-transform:rotateZ(-100deg) translate3d(-5px,-5px,0);
}

#looseSeeds {
  position:absolute;
  bottom: 442px;
  left: 171px;  
  -webkit-animation: blowRight 6s forwards ease-in-out;
}

@-webkit-keyframes flip {
  0% { -webkit-transform-origin: 50% 50%; } 
  7% { -webkit-transform: translate3d(0, 25px, 0) rotateX(5deg) rotateZ(-190deg); }
  100% { -webkit-transform: rotateX(160deg); }
}

#flipseed {
  -webkit-transform: rotateZ(-190deg);
  -webkit-animation: flip 6s forwards ease-in-out; 
}

@-webkit-keyframes zoomSeed {
  0% { }
  100% { -webkit-transform:scale3d(3,3,3) translate3d(0,-105px,0) rotateZ(-120deg);}
}

#zoomseed {
  -webkit-animation: zoomSeed 6s forwards;
  -webkit-transform: rotate(-80deg);
  
}
 
 @-webkit-keyframes float {
   0% { -webkit-transform-origin: 50% 100%; -webkit-animation-timing-function: ease-in;} 
   7% { -webkit-transform: translate3d(0, 15px, 0) rotate(15deg);}
   100% { -webkit-transform: scale3d(4,4,4) rotate(120deg) translate3d(-330px, 10px, 0); }
 }
  
#floatupseed {
  -webkit-animation: float 6s forwards ease-in-out;
}

@-webkit-keyframes seedChange1 { 
  0% {} 100% { -webkit-transform: rotateZ(60deg) translate3d(5px,-15px,0);} 
}
@-webkit-keyframes seedChange2 { 
  0% {} 100% { -webkit-transform: rotateZ(40deg)  translate3d(5px,5px,0);} 
}
@-webkit-keyframes seedChange3 { 
  0% {} 100% { -webkit-transform: rotateZ(20deg) translate3d(50px,-5px,0);} 
}
@-webkit-keyframes seedChange4 { 
  0% {} 100% { -webkit-transform: rotateZ(10deg) translate3d(5px,-5px,0);} 
}

@-webkit-keyframes seedChange5 { 
  0% { -webkit-transform-origin: 100% 50%; } 
  30% { -webkit-transform: rotateX(60deg) scale3d(2,1.2,2);}
  100% { -webkit-transform: rotateZ(-10deg) rotateX(85deg) translate3d(5px,-5px,0);} 
}