.no-csstransforms3d #quadrant2 {
	-webkit-transform: rotate(89deg);
	-moz-transform: rotate(89deg);
	-o-transform: rotate(89deg);
	-ms-transform: rotate(89deg);
	transform: rotate(89deg);
}

#quadrant3 {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
	bottom: 378px;
	left: 171px;
}

.no-csstransforms3d #quadrant4 {
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*#quadrant5 {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;

	-webkit-transform: rotateY(40deg) scale3d(.8,.8,.8);
	-moz-transform: rotateY(40deg) scale3d(.8,.8,.8);
	-o-transform: rotateY(40deg) scale3d(.8,.8,.8);
	-ms-transform: rotateY(40deg) scale3d(.8,.8,.8);
	transform: rotateY(40deg) scale3d(.8,.8,.8);
	bottom: 32;
	left: 137px;
}*/

/* -- LEFT OFF HERE --*/
/* use .quad class here instead of an
id selector so every quadrant can reuse this positioning;
then the quandrent itself just adjusts the rotation for all 4 seeds inside it */
.no-csstransforms3d rotate.quad div:nth-of-type(1) {
	-webkit-transform: rotate(-20deg) translate3d(5px,-5px,0);
	-moz-transform: rotate(-20deg) translate3d(5px,-5px,0);
	-o-transform: rotate(-20deg) translate3d(5px,-5px,0);
	-ms-transform: rotate(-20deg) translate3d(5px,-5px,0);
	transform: rotate(-20deg) translate3d(5px,-5px,0);
}

.no-csstransforms3d .quad div:nth-of-type(2) {
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.no-csstransforms3d .quad div:nth-of-type(3) {
	-webkit-transform: rotate(-76deg) translate3d(-5px,0,0);
	-moz-transform: rotate(-76deg) translate3d(-5px,0,0);
	-o-transform: rotate(-76deg) translate3d(-5px,0,0);
	-ms-transform: rotate(-76deg) translate3d(-5px,0,0);
	transform: rotate(-76deg) translate3d(-5px,0,0);
}

.no-csstransforms3d .quad div:nth-of-type(4) {
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

.no-csstransforms3d .quad div:nth-of-type(5) {
	-webkit-transform: rotate(-100deg) translate3d(-5px,-5px,0);
	-moz-transform: rotate(-100deg) translate3d(-5px,-5px,0);
	-o-transform: rotate(-100deg) translate3d(-5px,-5px,0);
	-ms-transform: rotate(-100deg) translate3d(-5px,-5px,0);
	transform: rotate(-100deg) translate3d(-5px,-5px,0);
}



.no-csstransforms3d #flipseed {
	-webkit-transform: rotate(-190deg);
	-moz-transform: rotate(-190deg);
	-o-transform: rotate(-190deg);
	-ms-transform: rotate(-190deg);
	transform: rotate(-190deg);

}

