#stage {
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-ms-perspective: 900px;
	-o-perspective: 900px;

	-webkit-perspective-origin: 100% 0%;
	-moz-perspective-origin: 100% 0%;
	-ms-perspective-origin: 100% 0%;
	-o-perspective-origin: 100% 0%;		
	width: 500px;
	height: 300px;
	margin: 10%;
}	

.card {
	position:absolute;
	width: 70px;
	height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	border: 5px solid rgb(179,179,179);
        	          
	background-color: rgb(102,102,255);	
	/* double striped gradients example from
  Estelle Weyl: 
	http://standardista.com/cssgradients/ */
  
  background-image: /* Safari 5 and earlier */
  	-webkit-gradient(linear, 100% 100%, 0 0,
  		color-stop(.25, rgba(255, 255, 255, 0.2)), 
  		color-stop(.25, rgba(255, 255, 255, 0)),
  		color-stop(.5, rgba(255, 255, 255, 0)), 
  		color-stop(.5, rgba(255, 255, 255, 0.2)),
  		color-stop(.75, rgba(255, 255, 255, 0.2)), 
  		color-stop(.75, rgba(255, 255, 255, 0)), 
  		color-stop(1, rgba(255, 255, 255, 0))),
  	-webkit-gradient(linear, 100% 0, 0 100%,
  		color-stop(.25, rgba(255, 255, 255, 0.2)), 
  		color-stop(.25, rgba(255, 255, 255, 0)),
  		color-stop(.5, rgba(255, 255, 255, 0)), 
  		color-stop(.5, rgba(255, 255, 255, 0.2)),
  		color-stop(.75, rgba(255, 255, 255, 0.2)), 
  		color-stop(.75, rgba(255, 255, 255, 0)), 
  		color-stop(1, rgba(255, 255, 255, 0)));
  	background-image:	/* Chrome and Webkit Nightly build */
  		-webkit-linear-gradient(135deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				),
  			-webkit-linear-gradient(45deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				);;
  	background-image:	/* Firefox */
  		-moz-linear-gradient(135deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				),
  				-moz-linear-gradient(45deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				);
  		background-image:	/* IE10 */
  		-ms-linear-gradient(135deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				),
  		-ms-linear-gradient(45deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				);
  		background-image:	/* opera 11+ */
  		-o-linear-gradient(135deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				),
  		-o-linear-gradient(45deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				);
  		background-image:	
  		linear-gradient(135deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				),
  		linear-gradient(45deg,
  				rgba(255, 255, 255, 0.2) 25%, 
  				rgba(255, 255, 255, 0) 25%,
  				rgba(255, 255, 255, 0) 50%, 
  				rgba(255, 255, 255, 0.2) 50%, 
  				rgba(255, 255, 255, 0.2) 75%,
  				rgba(255, 255, 255, 0) 75%,
  				rgba(255, 255, 255, 0) 100%
    				);
}


.left {
  background-color:white;
  -webkit-transform: rotateY(90deg) rotateX(-22deg);
  -moz-transform: rotateY(90deg) rotateX(-22deg);
  -ms-transform: rotateY(90deg) rotateX(-22deg);
  -o-transform: rotateY(90deg) rotateX(-22deg);
  transform: rotateY(90deg) rotateX(-22deg);

}
.right {
  -webkit-transform: rotateY(90deg) rotateX(22deg);
  -moz-transform: rotateY(90deg) rotateX(22deg);
  -ms-transform: rotateY(90deg) rotateX(22deg);
  -o-transform: rotateY(90deg) rotateX(22deg);
  transform: rotateY(90deg) rotateX(22deg);
}

.flat {
  -webkit-transform: rotateZ(90deg) rotateY(90deg);
  -moz-transform: rotateZ(90deg) rotateY(90deg);
  -ms-transform: rotateZ(90deg) rotateY(90deg);  
  -o-transform: rotateZ(90deg) rotateY(90deg);
  transform: rotateZ(90deg) rotateY(90deg);
}

#toprow, #bottomrow { 
  position: relative;
  left: 100px;
  
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
  
}

#toprow {
  z-index:2;
}

#toprow .right {  left: 40px;  }
#toprow .flat {
  top: 50px;
  left: 20px;
}

#bottomrow {
  top: 100px;
  left: 60px;
}
#bottomrow .right { left: 40px; }
#bottomrow .flat {
  top:50px;
  left: 15px;
}

#bottomrow .secondcol {  left: 100px; }
#bottomrow .left.secondcol { left: 80px; }
#bottomrow .right.secondcol { left: 120px; }

.warningMsg { display:none; }
.no-csstransforms3d .warningMsg { display:block; }