	/* setting really wide static width,
	wide enough to hold all scenes */
 #bgContainer {
	width: 3950px;
	height: 600px;
	overflow:hidden;
}
	
section section { 
	width: 1100px;
	height: 600px;
	float:left;  
	position:relative;	
}

#background0 {
  background-color:black;
  background-color:rgba(0,0,0,0.8);
  width:400px;
}
#background1 {
	background-image:url('../img/SFGraffiti.jpg');
	width: 1000px;
}
#background2 {
	background-image:url('../img/outsideGatesWindow.png');
	z-index:2;
}
#background3 {
	background-image:url('../img/outsidePark.jpg');
	z-index:3;
	width:950px;
}
#background4 {
  background-color:black;
  background-color:rgba(0,0,0,0.8);
  width:500px;
}
	
#inside {
  position:absolute;
  left:1850px;
  z-index:-1;	  
}

#bikerack {
	background-image:url('../img/bikerack.png');
	width:260px;
	height:250px;
	left:0px;
	position:absolute;
	top: 400px;
	z-index:10;

}

div[id^="robot"] {
	width:150px;
	height:205px;
	position:absolute;
	left: 300px;
	top: 350px;
	background-image:url('../img/robot.png');		
	z-index:2;
}

#skateboard {
	background-image:url('../img/skateboard.png');		
	width:250px;
	height:50px;
	position:absolute;
	left:250px;
	bottom:15px;
	z-index:1;
}

#robot2 {
  top:300px;
	left: -100px;
	width:300px;
	height:277px;
	background-image:url('../img/spriteRobotSpringy.png');		
}	

#cat {
  left:50px;
  position:absolute;
  top:400px;
  z-index:10;
}

#robot3 {
	left: -200px;
	background-image:url('../img/robotoCropo150.png');		
  width:150px;
  height:295px;		

}	

img[src*="separator"] {
	position:absolute;
	top:0px;
	z-index:10;
}

#tree {
	left: 2300px;
}
#lamppost {
	left: 1300px;
	z-index:4;
}